<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://54.76.12.174</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ec2-54-76-12-174.eu-west-1.compute.amazonaws.com</MSDeployServiceURL>
    <DeployIisAppPath>AlquimiaParaTodos</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <!--<ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=WIN-858I6URFO7Q;Initial Catalog=aspnet-AlquimiaParaTodos;Integrated Security=True" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AlquimiaParaTodos.Models.ApplicationDbContext, AlquimiaParaTodos" Origin="Configuration" />
          </Object>
        </ObjectGroup>-->
        <ObjectGroup Name="AlquimiaParaTodos.DAL.AlquimiaParaTodosDBContext" Order="2" Enabled="True">
          <Destination Path="Data Source=WIN-858I6URFO7Q;Initial Catalog=AlquimiaParaTodos;Integrated Security=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="AlquimiaParaTodos.DAL.AlquimiaParaTodosDBContext, AlquimiaParaTodos" MigrationConfiguration="AlquimiaParaTodos.Migrations.Configuration, AlquimiaParaTodos" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DBROLES-Connection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AlquimiaParaTodos.Models.ApplicationDbContext, AlquimiaParaTodos" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AlquimiaParaTodos.DAL.AlquimiaParaTodosDBContext-Web.config Connection String">
      <ParameterValue>Data Source=WIN-858I6URFO7Q;Initial Catalog=AlquimiaParaTodos;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DBROLES-Connection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=WIN-858I6URFO7Q;Initial Catalog=aspnet-AlquimiaParaTodos;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AlquimiaParaTodos.DAL.AlquimiaParaTodosDBContext" />
  </ItemGroup>
</Project>