@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Administrar", @class = "white-small-button" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()" class="red-small-button">Cerrar sesión</a></li>
        <li> @{Html.RenderAction("CartSummary", "ShoppingCart");}</li>
      
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "green-small-button" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "white-small-button" })</li>
        @*<li>@{Html.RenderAction("CartSummary", "ShoppingCart");}</li>*@
    </ul>
}
