/* COLORES*/
/*
    VERDE OSCURIN: #80A649;
    VERDE OSCURO: #437854;*/

/*END-COLORES*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

a {
    color: #437854;
    text-decoration: none;    
}
a:hover, a:focus {
    color: #437854;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted #333;
    outline-offset: -2px;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.active-category
{
  color: #ffffff;
  background-color: #428bff;
  padding: inherit;   
}
.active-category-link
{
  color: #ffffff;  
  padding: inherit;  
}

.non-active-category
{
  font-size : 12px;
}
.non-active-category-link
{
 font-size : 12px;
  padding: inherit;  
}

.menu ul {
		font-size:11px !important;
		_margin: 0; /*IE6 only*/
		visibility: hidden;
		position: absolute;
		top: 40px;
		left: 0;
		background: #444;
	}
.active_menu{
    background-color: #80A649;
    
}

/*COLUMNA IZQ*/
.navbar-brand {
  float: left;
  padding: 8px 8px;
  font-size: 18px;
  line-height: 20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #437854;
    color: #ffffff;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #80A649;
    border-color: #80A649;
    color: #ffffff;
    z-index: 2;
}

.list-group-item {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    display: block;
    margin-bottom: -1px;
    padding: 5px 8px;
    position: relative;
}

.row {
  margin-right: -30px;
  margin-left: -30px;
}
/*END-COLUMNA IZQ*/


/*BOTONES*/
.btn-primary {
    background-color: #80A649;
    border-color: #437854;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #80A649;
    border-color: #437854;
    color: #ffffff;
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-AddToCart {
    background-color: #e7a300;    
    color: #FFFFFF;
     -moz-user-select: none;
    border: 1px solid #5C4100;
    border-radius: 12px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.green-small-button {
    background: none repeat scroll 0 0 padding-box #80a649;
    border: 0 none;
    border-radius: 4px;
    box-shadow: 0 -40px 80px -40px rgba(0, 0, 0, 0.15) inset;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: CenturyGothicStd-Bold,sans-serif;   
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1em !important;
    margin: 4px;
    padding: 9px 19px 9px 20px;
    text-align: center;
    text-transform: uppercase;
    transition-duration: 150ms;
    transition-property: color, background;
}

.white-small-button {
    background: none repeat scroll 0 0 padding-box #555555;
    border: 0 none;
    border-radius: 4px;
    box-shadow: 0 -40px 80px -40px rgba(0, 0, 0, 0.15) inset;
    color: #fff;
    cursor: pointer;
    display: block;
    font-family: CenturyGothicStd-Bold,sans-serif;   
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1em !important;
    margin: 4px;
    padding: 9px 19px 9px 20px;
    text-align: center;
    text-transform: uppercase;
    transition-duration: 150ms;
    transition-property: color, background;
}
/*END-BOTONES*/

/*IMAGENES*/

.imgLogoLink
{
  background: url(/img/logo.jpg) no-repeat;
}

/*END IMAGENES*/



/*.navbar{
    background-color:#E8E8E8;
    color: #ffffff;
}

. navbar-brand{
    font-size: 20px;
}*/
